<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>장바구니</title>
</head>
<body>
<!-- 헤더 프레그먼트 -->
<div th:insert="~{fragments :: headerFragment}"></div>

<!-- 장바구니 리스트 -->
<div th:if="${!cartMenuList.isEmpty()}">
    <table>
        <thead>
        <tr>
            <th>메뉴 이름</th>
            <th>가격</th>
            <th>카테고리</th>
            <th>수량</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cartMenu : ${cartMenuList}">
            <td th:text="${cartMenu.menu.name}"></td>
            <td th:text="${cartMenu.menu.price}"></td>
            <td th:text="${cartMenu.menu.category.displayName}"></td>
            <td th:text="${cartMenu.quantity}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:unless="${!cartMenuList.isEmpty()}">
    장바구니가 비어있습니다.
</div>

</body>
</html>